fastapi
uvicorn
python-dotenv

chromadb

langchain
langchain-community
langchain-text-splitters

sentence-transformers

google-generativeai

pypdf
beautifulsoup4
markdown

numpy
pandas

ragas

tqdm

python-multipart

loguru